body{
	background-color: #FFE5B4;
}

h1{
	font-size: 40px;
	font-family: monospace, monaco;
	background-color: #F4A460;
	color: white;
	padding: 50px;
	padding-left: 60px;
	text-align: center;
}

ul{
	padding: 15px;
	display:block;
	background-color: #C19A6B;
	color: white;
	overflow: hidden;
	list-style-type: none;
}

li{
	padding: 20px;
	float: left;
	display: inline-block;
}

h2{
	font-size: 30px;
	font-family: sans-serif, arial;
	color: #806517;
	text-align: center;
}

#index_navigate{
	padding: 15px;
	display:block;
	background-color: #C19A6B;
	color: white;
	overflow: hidden;
	list-style-type: none;
}

fieldset{
	text-align: center;
	color:white;
	border:none;
	background-color:#DAA520; 
}

h3{
	color: #806517;
	font-size: 25px;
	padding: 5px;
	text-align: center;
	font-family: sans-serif, arial;
}

#programme{
	display: block;
}

p{
	color: white;
	font-size: 20px;
	text-align: center;
}

header{
	text-align: center;
	font-size: 23px;
	color:#483C32;
}

caption{
	font-size: 20px;
	font-family: sans-serif, arial;
	color: brown;
	align-items: center;
	justify-content: center;
}

#intro{
	color: white;
	text-align: center;
	justify-content: center;
}

legend{
	background-color: none;
	color : black;
	font-family: sans-serif, arial;
	font-size: 30px;
}

form{
	background-color: #D2B48C;
	color : white;
	font-family: sans-serif, arial;
	text-align: center;
	padding: 10px; 
}

input{
	border-radius: 8px;
	border:none;
	background-color: #FFF8DC;
	height: 30px;
	width: 50%;
}

textarea{
	border-radius: 8px;
	border:none;
	background-color: #FFF8DC;
}

input[type=submit],[type=reset]{
	background-color: #C19A6B;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	padding: 10px;
}